/* Footer CSS */
.main-footer {
    color: white;
    background-color: rgb(75, 139, 229);
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
.github{
  height: 30px;
  width: 30px;
}